<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{review.url}}" class="lead">{{review.name}}</a>
    <p>{{review.summary}}</p>
  </div>
</div>
<div class="row w-50 m-auto">
  {{#each post.comments}}
    {{> comment comment=this postId=../post._id}}
  {{/each}}
</div>